// Susy
// ============

@import "susy";


// Definition of Susy Grid system
// ============

$susy: (
	columns: 12,
	gutter: .25,
	container: 80em,


	debug: (
		image: show,
		color: rgba(255,0,0,.1),
		//output: overlay, // uncomment to make Grid Background constantly visible
		//toggle: top right, // uncomment to make Grid Background constantly visible
	)
);
